# Variables de entorno para el ERP de ASADAS
DATABASE_URL="postgresql://postgres:password123@localhost:5432/asadas_db"
DIRECT_URL="postgresql://postgres:password123@localhost:5432/asadas_db"

# Clave maestra para encriptar los PINs de las llaves criptográficas (.p12)
MASTER_KEY="526e38686c556758466b737478647032737636357a7065713437505244586f78"

# Auth y Seguridad
NEXTAUTH_SECRET="tu-secreto-de-next-auth"
NEXTAUTH_URL="http://localhost:3000"

# API Hacienda (Configurar al pasar a producción)
HACIENDA_API_URL="https://api.hacienda.go.cr/v1"
